nav{
  background-color:tan;
  text-align: center;
  height: 150px;
  
}
nav ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
 
}
nav ul li{
 
  list-style-type: none;
  margin-left: 15px;
  font-size: 2em;
}
#login{
  text-align: center;
}
h3{
  border: solid thin black;
  width: 100%;
  
}
#log{
  display: flex;
  justify-content: center;
}